* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fff000;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
  }
  
  .check-box {
    display: flex;
    background-color: #002240;
    padding: 10px;
    border-radius: 5px;
  }
  
  .circle-input {
    display: none;
  }
  
  .circle-input:checked + .circle-cont {
    overflow: hidden;
  }
  
  .circle-input:checked + .circle-cont .circle {
    background-color: #fff;
    top: 50%;
    height: 16px;
    width: 16px;
    margin-left: -8px;
    margin-top: -8px;
    box-shadow: 0 0 4px #fff;
    animation: checkIn 1s forwards linear 0s 1;
  }
  
  .circle-cont {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 3px solid #fff000;
    display: block;
    position: relative;
    overflow: visible;
    background-color: transparent;
  }
  
  .circle-cont .circle {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    left: 50%;
    border-radius: 50%;
    top: -100%;
    animation: checkOut 1s forwards linear 0s 1;
  }
  
  .label-name {
    color: #fff;
    font-weight: 600;
    font-family: sans-serif;
    position: relative;
    font-size: 1.5em;
    margin: 0px 6px;
    background-color: transparent;
  }
  
  @keyframes checkIn {
    0% {
      top: -1%;
      height: 10px;
      width: 24px;
      margin-left: -12px;
    }
    7% {
      top: -4%;
      height: 12.5px;
      width: 22px;
      margin-left: -11px;
    }
    17% {
      top: -2%;
      height: 15px;
      width: 12px;
      margin-left: -6px;
    }
    25% {
      top: 20%;
      height: 15px;
      width: 10px;
      margin-left: -5px;
    }
    30% {
      top: 102%;
      height: 10px;
      width: 28px;
      margin-left: -14px;
    }
    45% {
      top: 50%;
      height: 15px;
      width: 6px;
      margin-left: -3px;
      margin-top: -10px;
    }
    60% {
      top: 50%;
      height: 20px;
      width: 10px;
      margin-left: -5px;
    }
    70% {
      top: 50%;
      height: 40px;
      width: 40px;
      margin-left: -20px;
      margin-top: -20px;
    }
    80% {
      top: 50%;
      height: 30px;
      width: 30px;
      margin-left: -16px;
      margin-top: -16px;
    }
    90% {
      top: 50%;
      height: 18px;
      width: 18px;
      margin-left: -9px;
      margin-top: -9px;
    }
    100% {
      top: 50%;
      height: 18px;
      width: 18px;
      margin-left: -9px;
      margin-top: -9px;
    }
  }
  
  @keyframes checkOut {
    0% {
      overflow: visible;
      top: 50%;
      width: 24px;
      height: 24px;
      margin-top: -12px;
      margin-left: -12px;
      border: 3px solid #fff;
      opacity: 1;
    }
    100% {
      top: 50%;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      margin-left: -20px;
      border: 3px solid #fff;
      opacity: 0;
    }
  }
  